---
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle
} from "@/components/ui/card";
import { Label } from "@/components/ui/label";
import { Input } from "@/components/ui/input";
import { Crown } from "lucide-react";

interface Props {
  type: "phone" | "email";
}

const { type } = Astro.props;
---

<main class="flex justify-center items-center h-screen">
  <Card className="w-full max-w-sm">
    <CardHeader>
      <CardTitle className="flex items-center gap-2 justify-center">
        <Crown className="h-6 w-6" />
        <Label className="text-2xl">Chess Challenge</Label>
        <Crown className="h-6 w-6" />
      </CardTitle>
      <CardDescription className="text-center">
        Powered by Twilio & Gemini
      </CardDescription>
    </CardHeader>
    <CardContent className="grid gap-4">
      <div class="grid gap-2">
        <Input
          id="contact-input"
          type={type === "phone" ? "tel" : "email"}
          placeholder={type === "phone" ? "Phone Number" : "Email"}
          required
        />
      </div>
    </CardContent>
    <CardFooter className="gap-4">
      <Button className="w-full">Submit</Button>
    </CardFooter>
  </Card>
</main>
